* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* app */
#app {
    display: flex;
    padding: 0rem 2rem;
    font-size: 1.3rem;
}

/* Page Title */
h1 {
    text-align: center;
}

/* board */
.board {
    border: 1px solid black;
    width: fit-content; 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 auto;
}

.cell {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0, 0.3);
}

.cell.hover {
    background: lightgreen;
}

.cell.error {
    background: crimson !important;
}

.cell.ship {
    background: lightskyblue;
}

.ship-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.ship-name {
    list-style: none;
}

.placement-text {
    text-align: center;
    padding: 0.5rem 0rem;
    font-size: 1.5rem;
}


/* Start Button */
.start-button {
    padding: 1rem 2rem;
    margin: 20px auto;
    display: flex;
    border-radius: 0.3rem;
    background: none;
    border: 3px solid black;
    cursor: pointer;
}

.start-button:hover {
    background: black;
    color: white;
}

/* modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  background: white;
  padding: 2em;
  border-radius: 0.5em;
  min-width: 20rem;
}

.player-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
}

.submit-button {
    margin: 0 auto;
    display: flex;
    padding: 0.3rem 1rem;
    background: none;
    border: 2px solid black;
}
